body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    overflow-x: hidden;
    font-family: 'Clash Display';
}

.font{
    font-family: 'Clash Display';
}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #0f0b12be;
}


.back-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;
}


header {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color: rgba(12, 6, 6, 0.618);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1dea2;
    z-index: 999;
}

.left {
    display: flex;
    align-items: center;
}

.left img {
    width: 40px;
    margin: 0 15px;
}


header ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 15px 15px;
    margin-left: 4rem;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.326);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de63;
}

header ul li {
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}

header ul a:hover {
    text-shadow: 0 0 15px black;
}

.box-icons {
    display: flex;
    gap: 40px;
}

.box-icons a {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #72a1de;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.box-icons :hover {
    background-color: #72a1de;
    color: black;
    box-shadow: 0 0 15px #72a1de;
}

.gradient {
    background: linear-gradient(to right, #ff6fd8, #c27fff, #ab9bff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}


.blackhole-box {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    mix-blend-mode: lighten;
}

.blackhole-box video {
    width: 100%;
    margin-top: -23.5%;
    opacity: 100;
}

.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 85vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
}

.hero-info {
    position: absolute;
    left: 5%;
}

.hero-info .hero-info-title {
    color: #72a1de;
    padding: 8px 5px;
    border-radius: 50px;
    border: 1px solid #72a1de94;
    width: 240px;
    text-align: center;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de84;
    font-size: large;
}

.hero-info h1 {
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-info p {
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-info button {
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
}

.hero-info button:hover {
    box-shadow: 0 0 15px #72a1de81;
}

/* Gradient Animation */
.gradient {
    /* background: linear-gradient(to right, #00aaa7, #4b1b6b, #6600c5, #6070fd, #2a46ff, #0099ff, #008ead); */
    /* background: linear-gradient(to right, #9a6aff, #7f36f4, #5c2ed1, #2e1e8f, #221e6d); */
    /* background: linear-gradient(to right, #b97aff, #a256f5, #843de5, #5c2ed1, #301a91); */
    /* background: linear-gradient(to right, #ff8dd8, #ce63f8, #843de5, #5f2bcc, #352187); */
    /* background: linear-gradient(to right, #ff8dd8, #cbbfff, #a9a1ff); */
    background: linear-gradient(to right, #ff6fd8, #c27fff, #ab9bff);


    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.skills-video-box {
    position: absolute;
    right: 6%;
}

.skills-video {
    height: 900px;
    mix-blend-mode: lighten;
}


.info-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
}

.info-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: 0.5s;
}


.card h1 {
    position: absolute;
    margin: 0;
    bottom: 30%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;

}

.card p {
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 1;
    max-width: 300px;
    color: rgba(212, 208, 208, 0.76);
    font-size: 13px;
    line-height: 20px;
}


.feedback img{
   object-fit: contain;
   margin-top: 1rem;
}


.card img {
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.card .grid-img-1{
    object-fit: contain;
}

.card button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #030303;
    color: rgb(180, 168, 168);
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    box-shadow: 0 0 15px rgb(255, 254, 254);
    opacity: 0.7;
}

.card:hover {
    box-shadow: 0 0 15px rgb(211, 211, 211);
}

.card:nth-child(3) {
    grid-row: span 2;
    height: 83vh;
}

.card:nth-child(3) p {
    bottom: 12%;
}

.card:nth-child(3) h1 {
    bottom: 21%;
}

.card:nth-child(4) {
    grid-column: span 2;
}

.card:nth-child(4) p {
    max-width: 650px;
}

.card:nth-child(4) h1 {
    bottom: 35%;
}



.contact-container {
    margin-top: 10rem;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    width: 90vw;

}


.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}


.contact-left-title h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 250px;
    height: 5px;
    background-color: #edeef1a1;
    border-radius: 10px;
    margin-bottom: 20px;
}


.contact-inputs {
    width: 400px;
    height: 50px;
    border: 2px solid rgb(218, 32, 215);
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 50px;
    background-color: #d8ded7;
;

}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    background-color: #d0d9ce;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(248, 232, 232);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #0620589a;
    cursor: pointer;
}


.contact-right img {
    width: 500px;
    opacity: 0.8;
}


@media (max-width:920px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}


@media (max-width:920px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(12, 6, 6, 0.618);
    padding: 1rem 3rem;
    color: #ccc;
    font-size: 14px;
    width: 94.5%;
    position: relative;
    height: 5rem;
}

.footer-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: large;
}

.footer .box-icons {
    display: flex;
    gap: 20px;
}

.footer .box-icons a {
    color: #ccc;
    font-size: 30px;
    transition: color 0.3s ease;
}

.footer .box-icons a:hover {
    color: #ff5722;
}

.footer .box-icons a {
  outline: none;
  border: none;
}

.footer .box-icons a:focus {
  outline: none;
  box-shadow: none;
}


/* BLUR EFFECT ANIMAION */

.autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();

}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }

    35%,
    65% {
        filter: blur(0);
        opacity: 1;
    }

    100% {
        filter: blur(40px);
        opacity: 0;
    }
}


/* AUTO DISPLAY ANIMAION */
.autoDisplay {
    animation: autoDisplayAnimation both;
    animation-timeline: view();

}

@keyframes autoDisplayAnimation {
    from {
        filter: blur(90px);
        transform: translateY(-500px) scale(0);
    }

    50% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) scale(1);
    }
}


/* FADEIN_LEFT */

.fadein-left {
    animation: fadeInLeftAnimation both;
    animation-timeline: view();
}

@keyframes fadeInLeftAnimation {
    0% {
        opacity: 0;
        transform: translateX(-500px) scale(0.2);
        filter: blur(10px);
    }

    35%,
    65% {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0px);
    }

    100% {
        filter: blur(10px);
    }
}

/* Sidebar */

.menu-icon {
    font-size: 35px;
    cursor: pointer;
    display: none;
}


.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 70%;
    width: 0%;
    background-color: #000000b8;
    z-index: 999;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.479);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-bottom-left-radius: 100%;

}

.close-icon {
    font-size: 50px;
    color: lightgray;
    padding-left: 10px;
    cursor: pointer;
}

.sidebar ul {
    padding-left: 20px;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar ul li a {
    text-decoration: none;
    color: lightgray;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 0 0 15px #4c4c4c;
}

.social-sidebar {
    padding-left: 20px;
    margin-top: 60px;
    text-wrap: nowrap;
}

.social-sidebar a {
    color: white !important;
    font-size: 35px;
    text-decoration: none;
    padding: 5px 5px;
    cursor: pointer;
    transition: 0.5s;
}


/* Sidebar Open ANimation */
.sidebar.open-sidebar {
    animation: openSideBarAnimation 0.5s forwards;
}

@keyframes openSideBarAnimation {
    to {
        width: 50%;
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
}

/* Sidebar close ANimation */

.sidebar.close-sidebar {
    animation: closeSideBarAnimation 0.5s forwards;
}

@keyframes closeSideBarAnimation {
    from {
        width: 50%;
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }

    to {
        width: 0;
        opacity: 0;
        bottom: 70%;
        border-bottom-left-radius: 50%;
    }
}


/*************************************  MEDIA QUERIES *******************************************/

@media (max-aspect-ratio: 16/9) {
    .back-vid {
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .back-vid {
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 1200px) {
    .blackhole-box video {
        margin-top: -20%;
    }

    .hero-info h1 {
        font-size: 40px;
        max-width: 400px;
        line-height: 40px;
    }

    .hero-info P {
        max-width: 300px;
    }

    .skills-video-box {
        right: 0%;
    }

    .skills-video-box video {
        height: 500px;
    }

    .info-cards {
        grid-template-columns: auto;
    }

    .card:nth-child(3) {
        grid-column: span 2;
        height: 70vh;
    }

    .info-cards .card h1 {
        font-size: 20px;
    }

    .info-cards .card:nth-child(3) h1 {
        bottom: 25%;
    }

    .card video {
        height: 60%;

        margin-top: 5%;
    }

    .my-project {
        margin-bottom: 200px;
        scale: 0.8;
    }

}

@media screen and (max-width: 700px) {
    header {
        position: fixed;
        height: 50px;
    }

    header ul {
        display: none;
    }

    header .box-icons {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .blackhole-box video {
        width: 100%;
        margin-top: -15%;
    }

    .autoBlur {
        animation: none;
    }

    .hero {
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    }

    .hero-info {
        bottom: 5%;
    }

    .scroll-down {
        bottom: 5%;
    }

    .hero .skills-video-box {
        height: 200px;
        top: 5%;
    }



    .info-cards {
        grid-template-columns: auto;
    }

    .card:nth-child(3) {
        grid-column: span 2;
        height: 70vh;
    }

    .card video {
        width: 100%;
    }

    .container {
        height: 100%;
    }

    .footer {
        font-size: 10px;
    }

    .social-box {
        margin-left: -90px;
    }
}


@media screen and (max-width: 480px) {

    .blackhole-box {
        overflow: hidden;
    }

    .blackhole-box video {
        width: 140%;
        margin-top: -27%;

    }

    .left {
        scale: 0.9;
        margin-left: -30px;
    }

    .left h2 {
        font-size: 20px;
    }

    .hero {
        scale: 0.9;
        margin-top: -0.2rem;
    }

    .hero-info {
        bottom: 15%;
    }

    .hero-info h1 {
        font-size: 35px;
    }

    .scroll-down {
        bottom: 15%;
        left: 60%;
    }

    .section-title {
        font-size: 25px;
    }

    .info-section{
        margin-top: -1rem;
        margin-bottom: -12rem;
    }

    .info-cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        min-height: 20rem;
    }

    .card h1 {
        bottom: 30%;
        font-size: 5px;
    }

    
    .contact-container{
        margin-top: -10rem;
        margin-bottom: -0.1rem;
    }

    .footer {
        padding: 14px;
    }

    .footer h1 {
        max-width: 150px;
    }

    .footer-title{
        font-size: 1rem;
    }

    .footer .box-icons {
        gap: 5px;
        display: none;
    }

    .sidebar ul li a{
        font-size: 20px;
    }

}


#skills{
    margin-top: 8rem;
}

/* Mobile Styles */
@media screen and (max-width: 480px) {

    body{
        overflow-x: hidden;
    }

    .about-globe-img{
        margin-top: 15px;
        width: 100%;
    }

    .feedback{
        opacity: 5;
        
    }

    .contact-container{
        margin-top: 15rem;
    }
}

@media screen and (max-width: 1200px){
    body{
        overflow-x: hidden;
        
    }

}

html{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
} 

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00f5ff, #ff00ff);
    border-radius: 4px;
} 